{% extends "layout2.html" %}

{% block title %}
    search
{% endblock %}

{% block main %}
<body>
    <div class="searchrow">

      <!-- options and checkboxes for allergies in the first column -->
      <div class="column">
        <h3>Allergies</h3>

        <label class="container1">Gluten-free
          <input type="checkbox" name="Gluten-free" value="393^Gluten-Free">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Peanut-free
          <input type="checkbox" name= "Peanut-free" value="394^Peanut-Free">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Seafood-free
          <input type="checkbox" name="Seafood-free" value="398^Seafood-Free">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Sesame-free
          <input type="checkbox" name="Sesame-free" value="399^Sesame-Free">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Soy-free
          <input type="checkbox" name="Soy-free" value="400^Soy-Free">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Dairy-free
          <input type="checkbox" name="Dairy-free" value="396^Dairy-Free">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Egg-free
          <input type="checkbox" name="Egg-free" value="397^Egg-Free">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Sulfite-free
          <input type="checkbox" name="Sulfite-free" value="401^Sulfite-Free">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Wheat-free
          <input type="checkbox" name="Wheat-free" value="392^Wheat-Free">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Treenut-free
          <input type="checkbox" name="Tree nut-free" value="395^Tree Nut-Free">
          <span class="checkmark"></span>
        </label>
      </div>

      <!-- options and checkboxes for diet in the first column -->
      <div class="column">
        <h3>Diet</h3>

        <label class="container1">Ketogenic
          <input type="checkbox" name="Ketogenic" value="406^Ketogenic">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Lacto vegetarian
          <input type="checkbox" name="Lacto vegetarian" value="388^Lacto vegetarian">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Ovo vegetarian
          <input type="checkbox" name="Ovo vegetarian" value="389^Ovo vegetarian">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Pescetarian
          <input type="checkbox" name="Pescetarian" value="390^Pescetarian">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Vegan
          <input type="checkbox" name="Vegan" value="386^Vegan">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Low FODMAP
          <input type="checkbox" name="Low FODMAP" value="408^Low FODMAP">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Lacto-ovo vegetarian
          <input type="checkbox" name="Lacto-ovo vegetarian" value="387^Lacto-ovo vegetarian">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Paleo
          <input type="checkbox" name="Paleo" value="403^Paleo">
          <span class="checkmark"></span>
        </label>
      </div>

      <!-- options and checkboxes for type of course in the first column -->
      <div class="column">
        <h3>Course</h3>

        <label class="container1">Main dishes
          <input type="checkbox" name="Main Dishes" value="course^course-Main Dishes">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Side dishes
          <input type="checkbox" name="Side Dishes" value="course^course-Side Dishes">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Desserts
          <input type="checkbox" name="Desserts" value="course^course-Desserts">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Appetizers
          <input type="checkbox" name="Appetizers" value="course^course-Appetizers">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Salads
          <input type="checkbox" name="Salads" value="course^course-Salads">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Breakfast and Brunch
          <input type="checkbox" name="Breakfast and Brunch" value="course^course-Breakfast and Brunch">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Breads
          <input type="checkbox" name="Breads" value="course^course-Breads">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Soups
          <input type="checkbox" name="Soups" value="course^course-Soups">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Beverages
          <input type="checkbox" name="Beverages" value="course^course-Beverages">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Condiments and Sauces
          <input type="checkbox" name="Condiments and Sauces" value="course^course-Condiments and Sauces">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Cocktails
          <input type="checkbox" name="Cocktails" value="course^course-Cocktails">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Snacks
          <input type="checkbox" name="Snacks" value="course^course-Snacks">
          <span class="checkmark"></span>
        </label>

        <label class="container1">Lunch
          <input type="checkbox" name="Lunch" value="course^course-Lunch">
          <span class="checkmark"></span>
        </label>
      </div>

    <!-- button to submit the selected parameters -->
      <div class="form-group">
        <button class="button1" type="submit">Submit</button>
      </div>
    </div>
</body>

{% endblock %}