<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="static/script.js"></script>
<body>
    <form action="/results" method="post">
    <div class="column">
      <br><br>
      <h3>Category</h3>
        <ul class="ks-cboxtags" method="post">
          <li><input type="checkbox" id="checkboxOne" name="category" value="Games"><label for="checkboxOne">Games</label></li>
          <li><input type="checkbox" id="checkboxTwo" name="category" value="Lifestyle"><label for="checkboxTwo">Lifestyle</label></li>
          <li><input type="checkbox" id="checkboxThree" name="category" value="Music"><label for="checkboxThree">Music</label></li>
          <li><input type="checkbox" id="checkboxFour" name="category" value="Shopping"><label for="checkboxFour">Shopping</label></li>
          <li><input type="checkbox" id="checkboxFive" name="category" value="Entertainment"><label for="checkboxFive">Entertainment</label></li>
        </ul>

      <h3>Appsize</h3>
        <ul class="ks-cboxtags" method="post">
          <li><input type="checkbox" id="checkboxSix" name="0to50MB" value="0to50MB"><label for="checkboxSix">0 to 50 MB</label></li>
          <li><input type="checkbox" id="checkboxSeven" name="50to100MB" value="50to100MB"><label for="checkboxSeven">50 to 100 MB</label></li>
          <li><input type="checkbox" id="checkboxEight" name="100to250MB" value="100to250MB"><label for="checkboxEight">100 to 250 MB</label></li>
          <li><input type="checkbox" id="checkboxNine" name="250to500MB" value="250to500MB"><label for="checkboxNine">250 to 500 MB</label></li>
          <li><input type="checkbox" id="checkboxTen" name="500+MB" value="500+MB"><label for="checkboxTen">500+ MB</label></li>
        </ul>

      <h3>Age</h3>
        <ul class="ks-cboxtags" method="post">
          <li><input type="checkbox" id="checkboxEleven" name="Kids(-12)" value="Kids(-12)"><label for="checkboxEleven">Kids (-12)</label></li>
          <li><input type="checkbox" id="checkboxTwelve" name="Teens(12-18)" value="Teens(12-18)"><label for="checkboxTwelve">Teens(12-18)</label></li>
          <li><input type="checkbox" id="checkboxThirteen" name="Adults(18+)" value="Adults(18+)" ><label for="checkboxThirteen">Adults(18+)</label></li>
        </ul>

    <h3>Minimum Rating</h3>
      <ul class="starbox" method="post"> 
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        </fieldset>
      </ul><br>
    
    <h3>Phone brand</h3>
    <h8 class = "opacity">This will give all the apps that are compatible for this brand</h8>
      <ul class="ks-cboxtags" method="post">
        <li><input id="checkboxFourteen" type="checkbox" name="brand" value="Apple" onclick="onlyOne(this)" value="Apple"><label for="checkboxFourteen">Apple</label></li>
        <li><input id="checkboxFiveteen"type="checkbox" name="brand" value="Samsung" onclick="onlyOne(this)" value="Samsung"><label for="checkboxFiveteen">Samsung</label></li>
        <li><input id="checkboxSixteen"type="checkbox" name="brand" value="Huawei" onclick="onlyOne(this)" value="Huawei"><label for="checkboxSixteen">Huawei</label></li>
        <li><input id="checkboxSeventeen"type="checkbox" name="brand" value="Xiaomi" onclick="onlyOne(this)" value="Xiaomi"><label for="checkboxSeventeen">Xiaomi</label></li>
        <li><input id="checkboxEighteen"type="checkbox" name="brand" value="Other" onclick="onlyOne(this)" value="Other"><label for="checkboxEighteen">Other Android phone</label></li>
      </ul>

      <h3>Price</h3>
        <ul class="ks-cboxtags" method="post">
          <li><input type="checkbox" id="checkboxNineteen" name="price" value="Paid"><label for="checkboxNineteen">Paid</label></li>
          <li><input type="checkbox" id="checkboxTwenty" name="price" value="Free"><label for="checkboxTwenty">Free</label></li>
        </ul>
      
        
      
      <a href="{{ url_for('results') }}"><button id="button" class="myButton">Search</button></a>

  </div>
  </form>
</body>