<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
<body>
    <div class="searchrow">

      <!-- options and checkboxes for allergies in the first column -->
      <div class="column">
        <h3>Category</h3>

        <label class="container1">Games
          <input type="checkbox" name="Games" value="pr:games">
          <span class="checkmark"></span>
        </label>
        <label class="container1">Lifestyle
          <input type="checkbox" name="Lifestyle" value="399^Sesame-Free">
          <span class="checkmark"></span>
        </label>
        <label class="container1">Music
          <input type="checkbox" name="Music" value="399^Sesame-Free">
          <span class="checkmark"></span>
        </label>
        <label class="container1">Shopping
          <input type="checkbox" name="Shopping" value="399^Sesame-Free">
          <span class="checkmark"></span>
        </label>
        <label class="container1">Entertainment
          <input type="checkbox" name="Entertainment" value="399^Sesame-Free">
          <span class="checkmark"></span>
        </label>
        <label class="container1">Costumization
          <input type="checkbox" name="Costumization" value="399^Sesame-Free">
          <span class="checkmark"></span>
        </label>
        <label class="container1">Education
          <input type="checkbox" name="Education" value="399^Sesame-Free">
          <span class="checkmark"></span>
        </label>
      </div>

      <!-- options and checkboxes for diet in the first column -->
      <div class="column">
        <h3>Price</h3>

        <label class="container1">Ketogenic
          <input type="checkbox" name="Ketogenic" value="406^Ketogenic">
          <span class="checkmark"></span>
        </label>
      </div>

      <!-- options and checkboxes for type of course in the first column -->
      <div class="column">
        <h3>Appsize</h3>

        <label class="container1">Main dishes
          <input type="checkbox" name="Main Dishes" value="course^course-Main Dishes">
          <span class="checkmark"></span>
        </label>
    </div>
</body>