<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <div class="searchrow">

      <!-- options and checkboxes for allergies in the first column -->
      <div class="column">
        <div class="container">
            <h3>Category</h3>
            <ul class="ks-cboxtags">
              <li><input type="checkbox" id="checkboxOne" value="games"><label for="checkboxOne">Games</label></li>
              <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label for="checkboxTwo">Lifestyle</label></li>
              <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label for="checkboxThree">Music</label></li>
              <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label for="checkboxFour">Shopping</label></li>
              <li><input type="checkbox" id="checkboxFive" value="Surprise"><label for="checkboxFive">Entertainment</label></li>
            </ul>
          
          </div>

      <!-- options and checkboxes for diet in the first column -->
      <div class="column">


      </div>

      <!-- options and checkboxes for type of course in the first column -->
      <div class="column">
        <h3>Appsize</h3>
        <label class="container1">0 to 100 MB
          <input type="checkbox" name="0to100MB" value="course^course-Main Dishes">
          <span class="checkmark"></span>
        </label>
        <label class="container1">100 to 250 MB
          <input type="checkbox" name="100to250MB" value="406^Ketogenic">
          <span class="checkmark"></span>
        </label>
        <label class="container1">250 to 500 MB
          <input type="checkbox" name="250to500MB" value="406^Ketogenic">
          <span class="checkmark"></span>
        </label>
    </div>
    <div class="column">
        <h3>Rating</h3>
      <label class="container1">1 or more stars
        <input type="checkbox" name="1starormore" value="406^Ketogenic">
        <span class="checkmark"></span>
      </label>
      <label class="container1">2 or more stars
        <input type="checkbox" name="2starsormore" value="406^Ketogenic">
        <span class="checkmark"></span>
      </label>
      <label class="container1">3 or more stars
          <input type="checkbox" name="3starsormore" value="406^Ketogenic">
          <span class="checkmark"></span>
      </label>
      <label class="container1">4 or more stars
          <input type="checkbox" name="4starsormore" value="406^Ketogenic">
          <span class="checkmark"></span>
      </label>
      <label class="container1">5 stars
          <input type="checkbox" name="5stars" value="406^Ketogenic">
          <span class="checkmark"></span>
        </label>




    </div>
</body>